<footer class="footer {% if site.scrollappear_enabled %}scrollappear{% endif %}">
  <p>
    <a href="https://github.com/{{ site.social.github }}" rel="noreferrer noopener" target="_blank" title="GitHub">Github</a>
    /
    <a href="https://www.linkedin.com/in/{{ site.social.linkedin }}" rel="noreferrer noopener" target="_blank" title="LinkedIn">LinkedIn</a>
    /
    <a href="mailto:{{ site.social.email }}?subject=Hello!" title="Email">Email</a>
    /
    <a href="{{ 'feed.xml' | relative_url }}" rel="noreferrer noopener" target="_blank" title="RSS">RSS</a>
  </p>
</footer>
