<nav class="header-nav {% if site.scrollappear_enabled %}scrollappear{% endif %}">
  <h1 class="header-title">{{ site.name }}</h1>
  {% if page.subtitle %}
    <h1 class="header-subtitle">{{ page.subtitle }}</h1>
  {% endif %}
  <h5 class="header-links">
    <a href="{{ '/' | relative_url }}" title="Home">Home</a>
    /
    <a href="{{ 'about' | relative_url }}" title="About me">About</a>
    /
    <a href="mailto:{{ site.social.email }}?subject=Hello!" title="Contact">Contact</a>
    /
    <a href="{{ 'feed.xml' | relative_url }}" rel="noreferrer noopener" target="_blank" title="RSS">RSS</a>
  </h5>
</nav>
