// =============================================================================
// Header
// =============================================================================

.header-nav {
  display: block;
  padding: 75px 0 20px;
  border-bottom: 1px solid $base-border-color;
}

.header-title {
  display: block;
  margin-bottom: 25px;
  font-family: $monospace;
  font-size: 14px;
  font-weight: 400;
  color: $base-font-color;
  text-decoration: none;
}

.header-subtitle {
  display: block;
  margin-bottom: 25px;
  font-family: $sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: $header-logo-color;
  text-decoration: none;
}

.header-links {
  a {
    text-decoration: none;
    padding: 5px 1px;
    word-break: break-word;
  }
}
